@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../scss/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../scss/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../scss/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../scss/normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../scss/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../scss/normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../scss/normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../scss/normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../scss/normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../scss/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../scss/normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../scss/normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../scss/normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../scss/normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../scss/normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../scss/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../scss/normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../scss/normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../scss/normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../scss/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../scss/normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../scss/normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../scss/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../scss/normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../scss/normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../scss/normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../scss/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../scss/normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../scss/normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../scss/normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../scss/normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../scss/normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../scss/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../scss/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../scss/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../scss/normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../scss/normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../scss/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../scss/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../scss/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../scss/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../scss/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../scss/normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../scss/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../scss/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../scss/normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../scss/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../scss/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../scss/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fonts for icons*/
@font-face {
  font-family: 'ElegantIcons';
  src: url("fonts/ElegantIcons.eot");
  src: url("fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("fonts/ElegantIcons.woff") format("woff"), url("fonts/ElegantIcons.ttf") format("truetype"), url("fonts/ElegantIcons.svg#ElegantIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 37, ../scss/mixins.scss */
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*Variables*/
/* line 26, ../scss/styles.scss */
body {
  /*text*/
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: black;
  min-width: 320px;
  margin: 0 auto;
}

/* line 1, ../scss/navstyle.scss */
nav a {
  color: white;
  text-transform: uppercase;
}
/* line 3, ../scss/navstyle.scss */
nav a.rohklink {
  text-transform: capitalize;
}
/* line 4, ../scss/navstyle.scss */
nav a.rohklink span {
  color: #f25a3b;
  text-transform: uppercase;
}

/* line 7, ../scss/navstyle.scss */
nav {
  font-family: "Quicksand", sans-serif;
}

/* line 9, ../scss/navstyle.scss */
.nav-pri {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 90%;
  font-size: 1.3em;
  max-width: 640px;
}
/* line 13, ../scss/navstyle.scss */
.nav-pri ul {
  margin: 0;
}
/* line 15, ../scss/navstyle.scss */
.nav-pri li {
  float: left;
  width: 20%;
  margin: 0;
  padding: 1% 2% 1%;
  text-align: center;
  background-color: black;
  /*nav item for the current page*/
}
/* line 19, ../scss/navstyle.scss */
.nav-pri li.selected {
  background-color: #f25a3b;
}
/* line 20, ../scss/navstyle.scss */
.nav-pri li:hover {
  background-color: #f25a3b;
  opacity: 0.78;
}

/* line 25, ../scss/navstyle.scss */
.nav-sec {
  width: 90%;
  max-width: 440px;
  float: right;
  margin: 1em 0 0;
  font-size: 0.8rem;
}
/* line 27, ../scss/navstyle.scss */
.nav-sec ul {
  margin: 0;
}
/* line 28, ../scss/navstyle.scss */
.nav-sec a:hover {
  color: #f25a3b;
}
/* line 29, ../scss/navstyle.scss */
.nav-sec li {
  float: left;
  width: 20%;
  margin: 0;
  padding: 2% 2% 2%;
  text-align: right;
}

/* line 33, ../scss/navstyle.scss */
.footer-link {
  float: right;
  padding-right: 5%;
}
/* line 34, ../scss/navstyle.scss */
.footer-link:hover {
  text-decoration: underline;
}

/*********************************STRUCTURE***************************************\
	Structure.scss include styles in header & footer
\*********************************************************************************/
/*default*/
/* line 6, ../scss/structure.scss */
header, .wrap, footer {
  position: relative;
  z-index: 3;
  width: 100%;
  display: block;
}

/* line 7, ../scss/structure.scss */
header, footer {
  float: left;
}

/* line 8, ../scss/structure.scss */
.wrap {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 9, ../scss/structure.scss */
.wrap.wrap-proj {
  float: left;
  max-width: 1920px;
}

/* line 13, ../scss/structure.scss */
footer {
  background-color: black;
  padding-bottom: 2em;
}
/* line 14, ../scss/structure.scss */
footer .footer-copyright {
  color: white;
  padding-left: 2%;
  font-size: 0.8rem;
  float: left;
  position: absolute;
  bottom: 1em;
}

/*homepage*/
/* line 18, ../scss/structure.scss */
#rhok_brief {
  width: 46%;
  padding: 0 27% 0;
  line-height: 1.6em;
  color: white;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 0;
  margin-top: 11%;
  display: none;
}
/* line 21, ../scss/structure.scss */
#rhok_brief a {
  color: #f25a3b;
}
/* line 22, ../scss/structure.scss */
#rhok_brief .learnmore {
  margin: 4% 13% 0;
  width: 66%;
  padding: 1.5% 4% 1.5%;
  background-color: rgba(242, 90, 59, 0.6);
  font-size: 1rem;
  color: white;
}
/* line 24, ../scss/structure.scss */
#rhok_brief .learnmore:hover {
  background-color: white;
  color: #f25a3b;
}

/* line 27, ../scss/structure.scss */
.pic-center {
  width: 28%;
  padding-top: 28%;
  position: absolute;
  left: 36%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/logo1.png);
  border-radius: 100%;
  margin-top: 18%;
  background-color: rgba(242, 90, 59, 0.6);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 38, ../scss/structure.scss */
.pic-center:hover {
  background-image: url(../images/logo2.png);
  background-position: center 10%;
  background-size: 20%;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 0;
  width: 100%;
  left: 0;
}

/* line 48, ../scss/structure.scss */
.pic-feature {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/gallery/pic1_color.jpg);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 57, ../scss/structure.scss */
.pic-feature:hover {
  background-image: url(../images/gallery/pic1_bw.jpg);
}

/*subpage: about + projects*/
/* line 62, ../scss/structure.scss */
.pic-center-sub {
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/picCenter-sub1.png);
  width: 100%;
  padding-top: 32%;
  position: absolute;
  z-index: 99;
}

/* line 69, ../scss/structure.scss */
.pic-feature-sub {
  width: 100%;
  padding-top: 30%;
  z-index: 98;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  filter: grayscale(40%);
}
/* line 76, ../scss/structure.scss */
.pic-feature-sub.pic-feature-about {
  background-image: url(../images/gallery/pic3_bw.jpg);
}
/* line 77, ../scss/structure.scss */
.pic-feature-sub.pic-feature-proj {
  background-image: url(../images/gallery/pic2_bw.jpg);
}

@media only screen and (max-width: 640px) {
  /*.wrap{background-color:#0f0;}*/
  /* line 87, ../scss/structure.scss */
  footer .footer-copyright {
    position: static;
  }
}
/*preset for list and link text*/
/* line 2, ../scss/content.scss */
li {
  list-style: none;
}

/* line 2, ../scss/content.scss */
a {
  text-decoration: none;
}

/*=========================LAYOUT: DEFAULT===========================*/
/* line 6, ../scss/content.scss */
.col {
  padding: 1%;
  float: left;
}
/* line 7, ../scss/content.scss */
.col.section-proj {
  padding: 0 1% 0;
}

/* line 9, ../scss/content.scss */
.col-1 {
  width: 96%;
  margin: 0 1% 0;
}

/* line 11, ../scss/content.scss */
.col-1of3 {
  width: 26%;
  margin: 0 2% 0;
}

/* line 12, ../scss/content.scss */
.col-2of3 {
  width: 62%;
  margin: 0 2% 0;
}

/* line 14, ../scss/content.scss */
.col-4 {
  width: 23%;
  margin: 0 1% 0;
}

/* line 2, ../scss/mixins.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../scss/content.scss */
.section-center-title {
  float: left;
  width: 100%;
  background: url(../images/line4px.png) repeat-x center;
}
/* line 24, ../scss/content.scss */
.section-center-title .section-title {
  text-align: center;
  background-color: white;
  width: 40%;
  margin: 4% 30% 3%;
  font-size: 2.4rem;
}
/* line 26, ../scss/content.scss */
.section-center-title .section-title.section-title-about {
  font-size: 1.6rem;
  width: 38%;
  margin: 2% 31% 3%;
}
/* line 27, ../scss/content.scss */
.section-center-title .section-title.section-title-about span {
  color: #f25a3b;
  font-size: 1rem;
  line-height: 0.7em;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  float: right;
  margin: 0 7% 0 0;
}
/* line 31, ../scss/content.scss */
.section-center-title .section-title.section-title-proj {
  background-color: #f25a3b;
  color: white;
  font-size: 1.4rem;
  width: 40%;
  margin: 2% 55% 0 5%;
  text-align: left;
  padding: 1% 2% 1%;
}

/* line 35, ../scss/content.scss */
.section-title {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

/*=========================ABOUT PAGE===========================*/
/*FAQ*/
/* line 40, ../scss/content.scss */
.section-faq-item {
  padding: 0 3% 2% 0;
}
/* line 41, ../scss/content.scss */
.section-faq-item h2 {
  font-size: 1.6rem;
}
/* line 42, ../scss/content.scss */
.section-faq-item p {
  font-size: 1rem;
}

/*ARCHIVE Projects*/
/* line 46, ../scss/content.scss */
.archive-section-date {
  width: 98%;
  background-color: #f25a3b;
  color: white;
  text-transform: uppercase;
}
/* line 47, ../scss/content.scss */
.archive-section-date h3 {
  text-align: right;
  font-weight: 100;
  padding: 2% 2% 0 0;
  width: 98%;
}

/* line 50, ../scss/content.scss */
.archive-proj {
  margin: 1% 0 9%;
  /*ul-links*/
}
/* line 52, ../scss/content.scss */
.archive-proj .archive-proj-name {
  color: black;
  font-size: 1.3rem;
  margin: 0;
}
/* line 55, ../scss/content.scss */
.archive-proj .archive-proj-links {
  float: left;
  width: 98%;
  margin: 0;
  padding: 0;
}
/* line 57, ../scss/content.scss */
.archive-proj .archive-proj-links li {
  float: left;
  width: 23%;
  margin: 0 10% 0 0;
  color: #f25a3b;
  font-size: 0.8rem;
  line-height: 1.5em;
  font-weight: bold;
}
/* line 59, ../scss/content.scss */
.archive-proj .archive-proj-links li a {
  color: #f25a3b;
}
/* line 60, ../scss/content.scss */
.archive-proj .archive-proj-links li:hover {
  text-decoration: underline;
  color: #36acc7;
}
/* line 60, ../scss/content.scss */
.archive-proj .archive-proj-links li:hover a {
  color: #36acc7;
}
/* line 61, ../scss/content.scss */
.archive-proj .archive-proj-links li.inactive {
  display: none;
}
/* line 65, ../scss/content.scss */
.archive-proj .archive-proj-brief {
  font-size: 0.8rem;
}

/*=========================HOME PAGE===========================*/
/*TESTIMONIALS*/
/* line 74, ../scss/content.scss */
.testimonial-article {
  position: relative;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.2em;
  /*hover effect*/
}
/* line 2, ../scss/mixins.scss */
.testimonial-article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 77, ../scss/content.scss */
.testimonial-article div {
  float: left;
}
/* line 79, ../scss/content.scss */
.testimonial-article .profile {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  width: 50%;
  background: url(../images/line2px.png) repeat-x center;
  margin: 5% 0 5% 2%;
}
/* line 82, ../scss/content.scss */
.testimonial-article .profile.right {
  float: right;
  text-align: right;
  margin: 5% 2% 5% 0;
}
/* line 85, ../scss/content.scss */
.testimonial-article h2 {
  padding-left: 40%;
}
/* line 86, ../scss/content.scss */
.testimonial-article h2.right {
  padding-left: 0;
  padding-right: 40%;
}
/* line 89, ../scss/content.scss */
.testimonial-article .profile-pic {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  width: 140px;
  height: 140px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  border: 3px #f25a3b solid;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 95, ../scss/content.scss */
.testimonial-article .profile-pic.jm {
  background-image: url(../images/profilePic-jm.png);
}
/* line 96, ../scss/content.scss */
.testimonial-article .profile-pic.em {
  background-image: url(../images/profilePic-em.png);
}
/* line 97, ../scss/content.scss */
.testimonial-article .profile-pic.mr {
  background-image: url(../images/profilePic-mr.png);
}
/* line 99, ../scss/content.scss */
.testimonial-article .profile-pic.right {
  right: 0;
  float: right;
}
/* line 103, ../scss/content.scss */
.testimonial-article .profile-title {
  font-size: 1rem;
}
/* line 104, ../scss/content.scss */
.testimonial-article .testimonial {
  width: 38%;
  padding: 1%;
  margin: 5% 0 5%;
  font-size: 1rem;
  line-height: 1.5em;
  /*background-color: $color-pri-alpha;*/
}
/* line 106, ../scss/content.scss */
.testimonial-article .testimonial.right {
  float: right;
}
/* line 112, ../scss/content.scss */
.testimonial-article:hover .profile-pic {
  border: 3px transparent solid;
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}
/* line 114, ../scss/content.scss */
.testimonial-article:hover .profile {
  width: 58%;
}
/* line 115, ../scss/content.scss */
.testimonial-article:hover .testimonial {
  color: #f25a3b;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 116, ../scss/content.scss */
.testimonial-article:hover h2 {
  color: #36acc7;
}

/*Upcoming Events*/
/* line 122, ../scss/content.scss */
.upcoming-event-ul {
  margin: 0;
  padding: 0;
}
/* line 125, ../scss/content.scss */
.upcoming-event-ul li {
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
  margin: 2% 0 1%;
  float: left;
}
/* line 127, ../scss/content.scss */
.upcoming-event-ul li p {
  padding-top: 2%;
}
/* line 128, ../scss/content.scss */
.upcoming-event-ul li .event-schedule {
  float: right;
  padding-top: 0;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 600;
}
/* line 129, ../scss/content.scss */
.upcoming-event-ul li .event-schedule a {
  color: #f25a3b;
}
/* line 130, ../scss/content.scss */
.upcoming-event-ul li .event-schedule:hover {
  text-decoration: underline;
}
/* line 130, ../scss/content.scss */
.upcoming-event-ul li .event-schedule:hover a {
  color: #36acc7;
}
/* line 132, ../scss/content.scss */
.upcoming-event-ul li span {
  float: left;
  width: 10%;
  padding: 4% 10% 0 0;
  height: 2.4em;
  font-size: 2.4rem;
}

/* line 138, ../scss/content.scss */
.register-btn {
  float: left;
  background-color: #f25a3b;
  width: 77%;
  padding: 5% 10% 5%;
  margin: 0 10% 0 3%;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}
/* line 144, ../scss/content.scss */
.register-btn .register-btn-em {
  text-transform: uppercase;
  color: white;
}
/* line 146, ../scss/content.scss */
.register-btn:hover {
  background-color: black;
}
/* line 147, ../scss/content.scss */
.register-btn:hover .register-btn-em {
  color: #f25a3b;
}

/*Sponsor List*/
/* line 154, ../scss/content.scss */
.sponsorlist {
  width: 96%;
}
/* line 156, ../scss/content.scss */
.sponsorlist li {
  text-align: center;
  float: left;
  margin: 1%;
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}
/* line 161, ../scss/content.scss */
.sponsorlist li:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 163, ../scss/content.scss */
.sponsorlist li img {
  width: 90%;
  height: auto;
  max-width: 220px;
}

/*=========================Projects PAGE===========================*/
/* line 3, ../scss/projects.scss */
.proj-item {
  position: static;
  /*reset the width and margin*/
}
/* line 2, ../scss/mixins.scss */
.proj-item:after {
  content: "";
  display: table;
  clear: both;
}
/* line 6, ../scss/projects.scss */
.proj-item .col-1of3, .proj-item .col-2of3 {
  margin: 0;
}
/* line 7, ../scss/projects.scss */
.proj-item .col-1of3 {
  width: 34%;
}
/* line 8, ../scss/projects.scss */
.proj-item .col-2of3 {
  width: 62%;
}
/* line 10, ../scss/projects.scss */
.proj-item div {
  float: left;
}
/* line 11, ../scss/projects.scss */
.proj-item img {
  width: 80%;
  max-width: 370px;
  margin: 7% 10% 3%;
  outline: 1px black solid;
}
/* line 14, ../scss/projects.scss */
.proj-item .proj-img.proj-right {
  float: right;
}
/* line 16, ../scss/projects.scss */
.proj-item .proj-traceline {
  width: 60%;
  margin: 0 20% 0;
  position: absolute;
  z-index: -1;
  border-bottom: 2px #f25a3b solid;
  border-left: 2px #f25a3b solid;
}
/* line 2, ../scss/mixins.scss */
.proj-item .proj-traceline:after {
  content: "";
  display: table;
  clear: both;
}
/* line 20, ../scss/projects.scss */
.proj-item .proj-traceline.proj-right {
  border-left: none;
  border-right: 2px #f25a3b solid;
}
/* line 23, ../scss/projects.scss */
.proj-item .proj-detail {
  width: 52%;
  margin: 0 5% 0;
  padding: 2% 0 2%;
}
/* line 24, ../scss/projects.scss */
.proj-item .proj-detail .proj-detail-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.3em;
  color: #36acc7;
  padding: 0;
  margin: 0;
}
/* line 26, ../scss/projects.scss */
.proj-item .proj-detail h2 a {
  color: #36acc7;
}
/* line 26, ../scss/projects.scss */
.proj-item .proj-detail h2 a:hover {
  color: #f25a3b;
}
/* line 27, ../scss/projects.scss */
.proj-item .proj-detail p a {
  color: #f25a3b;
  font-weight: 400;
}
/* line 28, ../scss/projects.scss */
.proj-item .proj-detail p a:hover {
  text-decoration: underline;
  color: #36acc7;
}
/* line 31, ../scss/projects.scss */
.proj-item .proj-detail-brief {
  font-size: 0.9rem;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}
/* line 32, ../scss/projects.scss */
.proj-item .proj-detail-subtitle {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 1rem;
  padding: 1em 0 0;
  margin: 0;
  line-height: 1.8em;
}
