/*preset for list and link text*/
li{ list-style: none;} a{text-decoration: none;} 

/*=========================LAYOUT: DEFAULT===========================*/

.col{padding:1%; float:left;
	&.section-proj{padding:0 1% 0;}
}
.col-1{width:96%; margin:0 1% 0;}

.col-1of3{width:26%; margin:0 2% 0;}
.col-2of3{width:62%; margin:0 2% 0;}

.col-4{width:23%; margin:0 1% 0;}



section{
	@include clearfix;
}
.section-center-title{float:left; width:100%;
	background:url(../images/line4px.png) repeat-x center;
	
	.section-title{text-align: center; background-color:$light; 
					width:40%; margin:4% 30% 3%;font-size:2.4rem;
		&.section-title-about{font-size: 1.6rem;width:38%; margin:2% 31% 3%;
			span{color:$color-pri;font-size:1rem;line-height:0.7em;
				font-family: $font-pri; text-transform: none;float:right;margin:0 7% 0 0;}
		}

		&.section-title-proj{background-color:$color-pri;color:$light; font-size:1.4rem; 
			width:40%;margin:2% 55% 0 5%;text-align: left; padding:1% 2% 1%;}
	}
}
.section-title{font-family: $font-sec; text-transform: uppercase; font-weight: 400;}

/*=========================ABOUT PAGE===========================*/

/*FAQ*/
.section-faq-item{ padding:0 3% 2% 0;
	h2{font-size:1.6rem;}
	p{font-size:1rem;}
}

/*ARCHIVE Projects*/
.archive-section-date{width:98%; background-color: $color-pri; color:$light; text-transform: uppercase;
	h3{text-align: right; font-weight: 100; padding:2% 2% 0 0; width:98%;}
}

.archive-proj{
	margin:1% 0 9%;
	.archive-proj-name{color:$dark; font-size:1.3rem; margin:0; }

	/*ul-links*/
	.archive-proj-links{
		float:left; width:98%; margin:0; padding:0;
		li{float:left; width:23%; margin:0 10% 0 0; color:$color-pri; 
		   font-size:0.8rem; line-height: 1.5em; font-weight:bold;
			a{color:$color-pri;}
			&:hover{text-decoration: underline; color:$color-sec; a{color:$color-sec;}}
			&.inactive{display: none;}
		}
	}

	.archive-proj-brief{font-size:0.8rem;}
}



/*=========================HOME PAGE===========================*/

/*TESTIMONIALS*/

.testimonial-article{
	position: relative;  @include clearfix; 
	width:100%; font-size:0.8rem; line-height: 1.2em;
	div {float:left;}

	.profile{ @include trans(0.7s);
		width:50%; background:url(../images/line2px.png) repeat-x center;
		margin:5% 0 5% 2%; 
		&.right{float:right; text-align:right; margin:5% 2% 5% 0;}
	}

	h2{	padding-left:40%;
		&.right{ padding-left:0; padding-right:40%;}
	}

	.profile-pic{
		@include trans(0.5s); @include filter(0%);
		width:140px; height:140px; border-radius: 100%; 
		position: absolute; top:0; border:3px $color-pri solid;
		background-size:100%; background-position: center; background-repeat: no-repeat;

		&.jm{background-image:url(../images/profilePic-jm.png);}
		&.em{background-image:url(../images/profilePic-em.png);}
		&.mr{background-image:url(../images/profilePic-mr.png);}

		&.right{right:0;float:right;}

	}

	.profile-title{font-size:1rem;}
	.testimonial{width:38%; padding:1%; margin:5% 0 5%; font-size:1rem; line-height:1.5em; 
		/*background-color: $color-pri-alpha;*/
		&.right{float:right;}	
		}


	/*hover effect*/
	&:hover{
			.profile-pic{border:3px transparent solid;
				@include filter(70%);}
			.profile{width:58%;}
			.testimonial{color:$color-pri; @include trans(0.3s);}
			h2{color:$color-sec;}
		}

}

/*Upcoming Events*/
.upcoming-event-ul{
	margin:0; padding:0;

	li{
		width:100%; padding:0; font-size:1.2rem; margin:2% 0 1%; float:left;
		p{padding-top:2%;}
		.event-schedule{float:right;padding-top:0;margin-top:0;font-size:1rem; font-weight: 600;
			a{color:$color-pri;}
			&:hover{text-decoration: underline; a{color:$color-sec;}}}

		span{float:left;
			width:10%; padding:4% 10% 0 0; height:2.4em; font-size:2.4rem;}
		
	}
}

.register-btn{
	float:left;
	background-color:$color-pri; width:77%; padding:5% 10% 5%; margin:0 10% 0 3%;
	font-size:1.2rem;
	color:$light-alpha;

	.register-btn-em{text-transform: uppercase; color:$light;}

	&:hover{background-color:$dark;
		.register-btn-em{color:$color-pri;}
	}
}


/*Sponsor List*/

.sponsorlist{
	width:96%;
	li { 
		text-align: center;
		float:left; margin:1%;
		@include filter(70%);

		&:hover{@include filter(0%);}

		img{width:90%;height:auto;max-width:220px;}
	}
}