/*=========================Projects PAGE===========================*/

.proj-item{position: static; @include clearfix;
	
	/*reset the width and margin*/
	.col-1of3, .col-2of3{margin:0;}
	.col-1of3{width:34%;}
	.col-2of3{width:62%;}

	div{float:left;}
	img{width:80%; max-width:370px; margin:7% 10% 3%;outline: 1px $dark solid;}

	.proj-img{
		&.proj-right{float:right;}}

	.proj-traceline{
		@include clearfix; width:60%; margin:0 20% 0;
		position:absolute;z-index: -1;
		border-bottom: 2px $color-pri solid; border-left:2px $color-pri solid;
		&.proj-right{border-left:none; border-right:2px $color-pri solid;}
	}

	.proj-detail{width:52%; margin:0 5% 0; padding:2% 0 2%;
		.proj-detail-name{font-family: $font-thi; font-weight:400; text-transform: uppercase; 
			font-size:1.7rem; line-height: 1.3em; color:$color-sec; padding:0;margin:0;}
		h2 a{color:$color-sec;  &:hover{ color:$color-pri;}}
		p a{color:$color-pri; font-weight:400;
			&:hover{text-decoration:underline; color:$color-sec;}}

	}
	.proj-detail-brief{font-size:0.9rem; line-height: 1.4em;padding:0;margin:0;}
	.proj-detail-subtitle{color:$dark-light; font-weight:bold; font-size:1rem;padding:1em 0 0;margin:0;line-height: 1.8em;}

}