@import 'normalize';
@import 'mixins';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/*Variables*/

$color-pri: rgba(242,90,59,1);
$color-pri-alpha: rgba(242,90,59,0.6);

$color-sec:rgba(54,172,199,1);
$color-sec-alpha:rgba(54,172,199,0.7);

$dark: black;
$dark-alpha: rgba(0,0,0,0.76);
$dark-light:rgba(0,0,0,0.4);

$light: white;
$light-alpha: rgba(255,255,255,0.6);

$font-pri: 'Open Sans', sans-serif;
$font-sec: 'Quicksand', sans-serif;
$font-thi: 'Roboto Condensed', sans-serif;

body{
	/*text*/
	font-size:62.5%; font-family:$font-pri; color:$dark;
	min-width:320px;
	margin:0 auto;
}

@import 'navstyle';
@import 'structure';
@import 'content';
@import 'projects';

